quickassist/lookaside/access_layer/src/Module.symvers
quickassist/utilities/libusdm_drv/Module.symvers
quickassist/lookaside/access_layer/src/modules.order
quickassist/lookaside/access_layer/src/qat_kernel/src/.*
