#!/usr/bin/make -f

#include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/dpkg/default.mk
include /usr/share/dpkg/architecture.mk
DH_VERBOSE=1

KV := $(shell ${MAKE} -sC ${KERNELDIR} kernelversion)
#CC=$(DEB_HOST_GNU_TYPE)-gcc


%:
	dh $@

override_dh_auto_configure:
	#dh_auto_configure -v -- --sysconfdir=/etc/intel-qat --enable-kapi KERNEL_SOURCE_ROOT=${KERNELDIR}
	KERNEL_SOURCE_ROOT=${KERNELDIR} \
	./configure --build=$(DEB_BUILD_MULTIARCH)\
	--prefix=/usr \
	--includedir=${prefix}/include \
	--mandir=${prefix}/share/man \
	--infodir=${prefix}/share/info \
	--sysconfdir=/etc/intel-qat \
	--localstatedir=/var \
	--libdir=${prefix}/lib/x86_64-linux-gnu \
	--libexecdir=${prefix}/lib/x86_64-linux-gnu \
	--disable-maintainer-mode \
	--disable-dependency-tracking \
	--enable-kapi 

override_dh_auto_clean:
	dh_auto_clean -v
	rm  -rf debian/tmp
	rm -rf build
	rm -rf /lib/modules/$(KV)

override_dh_auto_install:
	mkdir -p debian/tmp/lib/modules/$(KV)-$(DEB_BUILD_ARCH)-vyos/{extra,driver}
	mkdir -p debian/tmp/lib/firmware
	mkdir -p debian/tmp/usr/bin
	mkdir -p debian/tmp/usr/lib/x86_64-linux-gnu
	mkdir -p debian/tmp/etc/intel-qat
	${MAKE} qat-driver-install
	cp build/*.bin  debian/tmp/lib/firmware
	cp -r /lib/modules/$(KV)/updates debian/tmp/lib/modules/$(KV)-$(DEB_BUILD_ARCH)-vyos/
	cp build/usdm_drv.ko debian/tmp/lib/modules/$(KV)-$(DEB_BUILD_ARCH)-vyos/driver/
	cp build/adf_ctl debian/tmp/usr/bin/
	cp build/qat_service debian/qat-utilities.init.d
	cp build/*.so debian/tmp/usr/lib/x86_64-linux-gnu
	cp build/*.{conf,conf.*} debian/tmp/etc/intel-qat	
	
# make -C /home/vyos/linux/ M=/home/vyos/qat-1.7/quickassist/qat INSTALL_MOD_DIR=updates modules_install

